In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import io
import warnings
warnings.filterwarnings('ignore')

In [2]:
!pip install boto3

Requirement already satisfied: boto3 in c:\users\nathaniel\anaconda3\lib\site-packages (1.24.28)
Requirement already satisfied: botocore<1.28.0,>=1.27.28 in c:\users\nathaniel\anaconda3\lib\site-packages (from boto3) (1.27.28)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\nathaniel\anaconda3\lib\site-packages (from boto3) (0.10.0)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in c:\users\nathaniel\anaconda3\lib\site-packages (from boto3) (0.6.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\nathaniel\anaconda3\lib\site-packages (from botocore<1.28.0,>=1.27.28->boto3) (1.26.11)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\nathaniel\anaconda3\lib\site-packages (from botocore<1.28.0,>=1.27.28->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\nathaniel\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.28.0,>=1.27.28->boto3) (1.16.0)

In [3]:
import support as support

In [2]:
import HR_analytics_project.support as nate

In [4]:
df_train_s3 = support.read_from_s3("hr_train_data","hranalyticsdata/new")

NameError: name 'AWS_ACCESS_KEY_ID' is not defined

In [10]:
df_train = df_train_s3.copy()
df_train.head(2)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0

In [11]:
print ('Train data:',df_train.shape)

Train data: (19158, 14)

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [14]:
 df_train['experience'].unique()

array(['>20', '15', '5', '<1', '11', '13', '7', '17', '2', '16', '1', '4',
       '10', '14', '18', '19', '12', '3', '6', '9', '8', '20', nan],
      dtype=object)

In [15]:
df_train['company_size'].unique()

array([nan, '50-99', '<10', '10000+', '5000-9999', '1000-4999', '10/49',
       '100-500', '500-999'], dtype=object)

In [16]:
df_train.groupby([ 'education_level', 'enrolled_university']).count()

                                     enrollee_id  city  \
education_level enrolled_university
Graduate        Full time course            2209  2209
                Part time course             784   784
                no_enrollment               8434  8434
High School     Full time course             864   864
                Part time course             166   166
                no_enrollment                940   940
Masters         Full time course             557   557
                Part time course             204   204
                no_enrollment               3547  3547
Phd             Full time course              25    25
                Part time course              12    12
                no_enrollment                371   371
Primary School  Full time course              33    33
                Part time course              11    11
                no_enrollment                255   255

                                     city_development_index  gender  \
education_level enrolled_university
Graduate        Full time course                       2209    1501
                Part time course                        784     593
                no_enrollment                          8434    6835
High School     Full time course                        864     644
                Part time course                        166     123
                no_enrollment                           940     701
Masters         Full time course                        557     366
                Part time course                        204     135
                no_enrollment                          3547    2793
Phd             Full time course                         25      15
                Part time course                         12       9
                no_enrollment                           371     303
Primary School  Full time course                         33      19
                Part time course                         11       6
                no_enrollment                           255     182

                                     relevent_experience  major_discipline  \
education_level enrolled_university
Graduate        Full time course                    2209              2200
                Part time course                     784               784
                no_enrollment                       8434              8422
High School     Full time course                     864                 0
                Part time course                     166                 0
                no_enrollment                        940                 0
Masters         Full time course                     557               556
                Part time course                     204               203
                no_enrollment                       3547              3543
Phd             Full time course                      25                25
                Part time course                      12                12
                no_enrollment                        371               371
Primary School  Full time course                      33                 0
                Part time course                      11                 0
                no_enrollment                        255                 0

                                     experience  company_size  company_type  \
education_level enrolled_university
Graduate        Full time course           2195          1040          1073
                Part time course            784           587           571
                no_enrollment              8418          6705          6511
High School     Full time course            864           252           281
                Part time course            165           112           106
                no_enrollment               938           483           502
Masters         Full time course            556           328           345
                Part time course            204           155           145
                no_enrollment              3533          2878          2772
Phd             Full time course             24            16            19
                Part time course             12            10             9
                no_enrollment               369           297           305
Primary School  Full time course             32             9            12
                Part time course             11             5             5
                no_enrollment               255            50            72

                                     last_new_job  training_hours  target
education_level enrolled_university
Graduate        Full time course             2107            2209    2209
                Part time course              766             784     784
                no_enrollment                8335            8434    8434
High School     Full time course              833             864     864
                Part time course              160             166     166
                no_enrollment                 916             940     940
Masters         Full time course              534             557     557
                Part time course              202             204     204
                no_enrollment                3499            3547    3547
Phd             Full time course               24              25      25
                Part time course               11              12      12
                no_enrollment                 366             371     371
Primary School  Full time course               30              33      33
                Part time course               10              11      11
                no_enrollment                 251             255     255

In [17]:
df_train['target'].unique()

array([1., 0.])

- Transformation:
    - Gender, major_discipline column: Create another category called "others"
    - enrolled_university, education_level, last_new_jobs: fill it with the mode
    - figure how to handle company_size and company_type = company_type(Other), experience (Mode), company_size (Other)
- Analysis:
    - A lot of analysis: create a presentation powerpoint, pdf
        - correlations
        - bar plot
        - pie charts
- ML Transformation
    - Label Encoder
    - One Hot Encoding
    - Embedding
    
- Model

In [18]:
df_train['gender'].unique()

array(['Male', nan, 'Female', 'Other'], dtype=object)

In [19]:
df_train['last_new_job'].unique()

array(['1', '>4', '4', '3', 'never', '2', nan], dtype=object)

In [42]:
df_train.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
target                       0
dtype: int64

In [34]:
class Transformation:
    def __init__(self, df):
        self.df = df
        
    def replace_enrolled_university(self):
        uni_miss = self.df.loc[self.df['enrolled_university'].isna()]
        uni_miss['enrolled_university'] = self.df.loc[self.df['enrolled_university'].notna()]['enrolled_university'].mode()[0]
        self.df = pd.concat([self.df.loc[self.df['enrolled_university'].notna()], uni_miss], ignore_index=True)
    
    def replace_gender(self):
        gender_miss = self.df.loc[self.df['gender'].isna()]
        gender_miss['gender'] = 'Other'
        self.df = pd.concat([self.df.loc[self.df['gender'].notna()], gender_miss], ignore_index=True) 
    
    def replace_major_discipline(self):
        maj_disc_miss = self.df.loc[self.df['major_discipline'].isna()]
        maj_disc_miss['major_discipline'] = 'Other'
        self.df = pd.concat([self.df.loc[self.df['major_discipline'].notna()], maj_disc_miss], ignore_index=True)       
        
    def replace_education_level(self):
        edu_miss = self.df.loc[self.df['education_level'].isna()]
        edu_miss['education_level'] = self.df.loc[self.df['education_level'].notna()]['education_level'].mode()[0]
        self.df = pd.concat([self.df.loc[self.df['education_level'].notna()],edu_miss], ignore_index=True)
    
    def replace_last_new_job(self):
        job_miss  = self.df.loc[self.df['last_new_job'].isna()]
        job_miss['last_new_job'] = self.df.loc[self.df['last_new_job'].notna()]['last_new_job'].mode()[0]
        self.df = pd.concat([self.df.loc[self.df['last_new_job'].notna()],job_miss], ignore_index=True)
    
    def replace_company_type(self):
        type_miss = self.df.loc[self.df['company_type'].isna()]
        type_miss['company_type'] = 'Other'
        self.df = pd.concat([self.df.loc[self.df['company_type'].notna()], type_miss], ignore_index=True)
    
    def replace_company_size(self):
        size_miss = self.df.loc[self.df['company_size'].isna()]
        size_miss['company_size'] = 'Other'
        self.df = pd.concat([self.df.loc[self.df['company_size'].notna()], size_miss], ignore_index=True)
    
    def replace_experience(self):
        exp_miss = self.df.loc[self.df['experience'].isna()]
        exp_miss['experience'] = self.df.loc[self.df['experience'].notna()]['experience'].mode()[0]
        self.df = pd.concat([self.df.loc[self.df['experience'].notna()], exp_miss], ignore_index=True) 
        
    
    def run_process(self):
        self.replace_enrolled_university()
        self.replace_gender()
        self.replace_major_discipline()
        self.replace_education_level()
        self.replace_last_new_job()
        self.replace_company_type()
        self.replace_company_size()
        self.replace_experience()
        
        return self.df

In [40]:
import support

In [2]:
tran = support.Transformation(df_train)

NameError: name 'support' is not defined

In [36]:
cf = tran.run_process()

In [37]:
cf.isnull().sum()

enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
target                    0
dtype: int64

In [41]:
cf = cf.drop("enrollee_id", axis=1)

In [38]:
pip install pivottablejs

Collecting pivottablejsNote: you may need to restart the kernel to use updated packages.

  Using cached pivottablejs-0.9.0-py2.py3-none-any.whl (4.7 kB)
Installing collected packages: pivottablejs
Successfully installed pivottablejs-0.9.0

In [39]:
from pivottablejs import pivot_ui

pivot_ui(cf)

<img src="image.jpg"/>

In [ ]:
#pip install git+https://github.com/shakedzy/dython.git

In [ ]:
#from dython.nominal import associations

In [43]:
support.labeled_barplot(cf,"company_type",perc=True)

AttributeError: module 'support' has no attribute 'labeled_barplot'

In [ ]:
plt.figure(figsize=(10,7))
sns.heatmap(df_train.corr(), annot=True, cmap="YlGnBu", linewidths=.6)

In [ ]:
plt.figure(figsize=(10,7))
sns.barplot (x='education_level',y='training_hours', data=df_train, label='blue')

In [ ]:
plt.figure(figsize=(10,7))
sns.barplot (x='education_level',y='city_development_index', data=df_train, label='blue')

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 280C-2769

 Directory of C:\Users\Nathaniel\Downloads

17/07/2023  16:30    <DIR>          .
15/07/2023  23:48    <DIR>          ..
13/07/2023  21:25    <DIR>          .ipynb_checkpoints
13/07/2023  13:29    <DIR>          __pycache__
15/06/2022  11:50            84,199 1437923016_411__winequality-red.csv
23/03/2023  16:25         2,241,160 20220954970010.pdf
04/04/2023  11:25               154 36471 (1).trymyui
30/03/2023  21:21               154 36471.trymyui
19/01/2023  09:39        12,225,905 5c7825d2-6814-40c7-aefe-3d0f3d6f22e7.csv
28/03/2022  15:43             3,788 abtest.csv
11/07/2023  19:58         1,375,337 Academic Transcript of OKAFOR Nathaniel Chukwudimegwu (E-Transcript).pdf
07/03/2023  04:14           625,786 Acceptance Form.docx
13/07/2023  21:25           996,875 Additional_CaseStudy_German_Credit.ipynb
27/05/2023  06:52         1,531,464 Additional_CaseStudy_Loan_Delinquent.ipynb
10/02/2022  13:31            12,903 Admission_Predict.csv
14/01/2023  10:36       754,172,176 AlteryxNonAdminInstallx64_2022.3.1.395.exe
14/01/2023  09:50       651,399,256 Anaconda3-2022.10-Windows-x86_64.exe
10/07/2023  13:20       824,774,840 Anaconda3-2023.03-1-Windows-x86_64.exe
30/04/2022  07:15         5,965,588 anime_data.csv
27/05/2023  22:00        12,439,185 archive (1).zip
26/06/2023  14:45           301,600 archive (2).zip
30/01/2023  12:29            36,801 archive (3).zip
19/01/2023  10:00            79,289 archive.zip
11/03/2022  14:34             9,783 assignment.csv
07/02/2022  02:39            24,729 Automobile.csv
06/04/2022  02:53            31,858 boston.csv
22/08/2022  14:04           113,954 carbon-emissions-borough.xlsx
10/08/2022  06:44            18,088 car-mpg.csv
13/07/2023  21:25         1,659,003 Case_Study_DiabetesRisk_Prediction.ipynb
13/07/2023  21:25         3,791,276 Case_Study_WineQuality_Prediction.ipynb
13/06/2023  22:19           884,736 chinook.db
14/06/2023  23:02                 0 chinook.sqlite
13/06/2023  22:05           305,596 chinook.zip
04/07/2023  08:48           118,820 ConsentForm_-TTS-English-IN-VAC-Final__1_.pdf
04/08/2022  12:00            27,886 country_stats.csv
27/05/2023  22:01       105,844,595 crop1.csv
02/05/2023  08:02            39,306 DAD INS.pdf
15/01/2023  13:46        16,817,902 data - 2022-10-06T141717.410.xlsx
26/07/2022  13:07           268,230 data_add_nik.csv
10/09/2022  00:05             2,067 Data_Dictionary.txt
29/07/2022  13:23             1,335 Data_Dictionary_(1)_(1)_(1).csv
19/01/2023  09:46             6,925 data_sources_by_asset_type.csv
04/06/2023  06:43        18,038,784 DB.Browser.for.SQLite-3.12.2-win64.msi
27/05/2023  20:32       651,885,904 Docker Desktop Installer.exe
12/03/2022  08:12               512 doses.csv
21/06/2022  05:49         1,505,656 DSBA_Project_ET_EasyVisa_Fullcode (1).html
20/06/2022  13:42         1,505,543 DSBA_Project_ET_EasyVisa_Fullcode.html
03/04/2023  12:42           870,681 DSBA_Project_ET_EasyVisa_Fullcode.ipynb
15/06/2022  00:15         1,880,839 EasyVisa.csv
10/02/2022  14:27           121,579 EDA_Part1_Basic_Statistics_Exploration.ipynb
23/06/2023  21:43         1,515,403 EDA+-+Univariate_and_Multivariate_Analysis.ipynb
27/02/2022  13:31           107,568 EDA-+Practice+Exercise+Questions.ipynb
16/02/2022  23:42           821,362 EDA-CaseStudy_and_PandasProfiling.ipynb
23/02/2022  14:53            39,661 EDA-Practice Exercise Answers-1-1.ipynb
11/04/2023  12:18           257,361 Endorsement.pdf
01/04/2022  15:01           129,143 ENews_Express_Learner_Notebook%5BFull_Code_Version%5D.ipynb
03/08/2022  15:07            11,162 Engineering+Colleges+Case+Study+-+Dataset.xlsx
06/07/2023  09:43    <DIR>          FILING
30/01/2022  12:42             6,529 flow_control.ipynb
23/06/2023  22:37         2,455,456 Food Project.ipynb
27/02/2022  13:11           123,933 foodhub_order.csv
04/03/2022  12:14           974,208 Foodhub_project%28Full_Code%29.html
03/04/2023  12:48           366,831 Foodhub_project%28Full_Code%29.ipynb
19/01/2023  09:45            49,641 geocodedfoodfacilities-filtered-supermarkets-v2.csv
12/07/2022  06:31            47,803 German_Credit (1).csv
21/05/2022  10:43            61,771 German_Credit.csv
22/04/2023  05:27        53,792,928 Git-2.40.0-64-bit.exe
29/08/2022  13:07         2,075,280 Hackathon Model Turning 3.ipynb
31/07/2022  05:44           264,946 Hackathon01.ipynb
02/08/2022  11:14           158,375 Hackathon02.ipynb
01/07/2023  22:29         1,496,813 Honey+Production+Case+Study.ipynb
12/02/2022  07:55            40,620 honeyproduction1998-2016.csv
30/01/2023  11:46        16,855,599 hotel_bookings.csv
16/07/2023  13:07    <DIR>          HR_analytics_project
17/07/2023  16:30            41,389 HR-Analytics.ipynb
29/03/2023  14:31         1,157,934 IMG_0448.jpg
06/07/2023  11:50            34,477 IMM5740_2-11UMSVGR (1).pdf
03/07/2023  21:36            34,477 IMM5740_2-11UMSVGR.pdf
24/04/2023  16:33            47,972 IMM5825_1-PEXDWC8.pdf
27/05/2022  10:35         3,240,604 INNHotelsGroup.csv
16/02/2022  23:38        16,937,599 innings_data.csv
20/04/2023  11:25         1,471,478 Ins KYC Doc[1276].pdf
11/04/2023  13:03           274,867 INSURANCE POLICY.pdf
23/01/2023  18:21           649,898 INTL PPT.pdf
14/01/2023  22:25            25,087 invoice-boost_premium_1-cars-34665424.pdf
29/01/2022  09:11             4,009 iris.csv
29/01/2022  09:32            31,503 Iris+-+Case+Study.ipynb
25/03/2023  04:44        63,768,016 jetbrains-toolbox-1.27.3.14493.exe
09/07/2022  02:14         1,961,145 jobs_data.csv
27/04/2023  09:04           118,510 JOHN OKAFOR ENDST[1655].pdf
28/04/2023  13:25           295,814 Kevin Cookie Company Financials.xlsx
27/04/2023  09:04            81,731 KTU 817 DZ-MR JOHN OKAFOR[1656].pdf
01/05/2022  09:00           198,100 laptop_price.csv
02/05/2023  22:19             9,819 legal.pdf
03/06/2022  09:03           333,433 Life+Expectancy+Data.csv
31/03/2023  10:27           113,354 linkedin backdrop.jpg
03/07/2022  12:43           558,776 Loan_Delinquent_Dataset (1).csv
27/05/2022  02:43           558,776 Loan_Delinquent_Dataset.csv
16/07/2022  00:57           257,009 marketing_data.xlsx
20/06/2023  09:55         5,385,310 marriage packet.zip
16/02/2022  23:37           173,805 match_data.csv
12/03/2022  23:50            90,201 Medicon_dose_testing.ipynb
18/02/2022  16:07         5,409,609 Melbourne_housing_FULL.csv
18/04/2023  21:21           167,166 ML Application Form revise.pdf
16/07/2022  13:39         1,014,288 MLS_Model_Tuning+-+standardized (1).ipynb
02/08/2022  11:19           125,978 MLS2+-+standardized.ipynb
17/07/2023  13:26           343,234 Money Order Receipt (1).pdf
05/02/2022  08:11           117,040 movie.csv
06/04/2022  10:07            86,957 MovieLens+Case+Study.ipynb
22/07/2022  16:10         1,718,293 MT_Project_LearnerNotebook_FullCode.html
31/03/2023  17:27           975,282 MT_Project_LearnerNotebook_FullCode.ipynb
20/07/2022  08:25            47,207 MT_Project_LearnerNotebook_LowCode.ipynb
02/05/2023  08:03            39,331 MUM INS.pdf
28/01/2023  14:14       458,510,336 mysql-installer-community-8.0.32.0.msi
01/05/2023  20:23           354,113 Nathaniel  Okafor LOB[2119].pdf
16/02/2023  23:33           284,704 Nathaniel Okafor _ NDPITQL12B-G20230323 _ Enrollment Application _ .pdf
16/01/2023  09:39           109,016 Nathaniel Okafor _ NDPITQL12B-G20230323 _ Program Specific Statement _ .pdf
15/01/2023  02:06           271,666 Nathaniel Okafor.pdf
15/01/2023  02:01            38,218 NATHANIEL_CHUKWUDIMEGWU_OKAFOR_Grade sheet.pdf
23/01/2023  18:21           288,690 NNAMDI AZIKIWE UNIVERSITY AWKA.pdf
09/03/2023  12:35         1,082,371 Non-Trad I-20 New Off-Campus Application 2022-2023.pdf
13/06/2023  22:27             8,192 Northwind_small.sqlite
11/03/2022  14:14           300,146 Notebook_Week1.ipynb
05/02/2022  07:14            12,065 numpy_examples.ipynb
23/01/2023  18:22           306,526 OBAFEMI AWOLOWO UNIVERSITY.pdf
10/02/2022  13:17            12,203 outlier.PNG
05/02/2022  04:06            15,996 pandas_example.ipynb
10/06/2022  10:54            23,857 pima-indians-diabetes.csv
13/07/2023  18:52         2,183,324 pivottablejs.html
02/05/2023  07:58         2,069,318 Policy Declarations[2518].pdf
22/03/2023  11:35        70,513,017 powershell-7.3.3-linux-alpine-x64.tar.gz
16/07/2022  12:29           900,385 Practice_Excercise_Week2-+Standardized.ipynb
28/03/2022  04:55             8,876 Practice_Exercise_Common_Statistical_Tests_Questions.ipynb
25/03/2022  23:29            11,989 Practice_Exercise_Common_Statistical_Tests_Solutions.ipynb
12/03/2022  23:56            13,095 Practice_Exercise_Inferential_Statistics_Questions.ipynb
28/05/2022  07:58           405,583 Predictive_Maintenance_Case_Study.csv
01/04/2022  15:09                 0 Project Business Statistics
01/04/2022  15:10           714,865 Project Business Statistics_ E-news Express .html
03/06/2022  16:02         1,765,619 Project_SLC_DSBA_INNHotels_FullCode.html
31/03/2023  15:28         1,181,369 Project_SLC_DSBA_INNHotels_FullCode.ipynb
10/06/2022  10:53         2,289,820 Project_SLC_DSBA_INNHotels_SolutionNotebook.ipynb
02/09/2022  12:42            50,764 Purchasing.xlsx
22/03/2023  11:55       513,038,728 pycharm-professional-2022.3.3.exe
10/04/2023  13:05             8,835 Python Programs Assignments.ipynb
05/02/2022  08:18         2,079,208 ratings.csv
11/04/2023  12:20           112,373 RAV4 INSURANCE.pdf
02/05/2023  08:01            39,419 RAV4 TRAVELERS INS.pdf
19/01/2023  09:57       104,710,215 Real_Estate_Sales_2001-2020_GL.csv
15/06/2022  02:35            50,488 RESUME (APR 2022).docx
07/04/2023  16:00           199,430 RESUME (APR 2022).pdf
15/01/2023  01:59           164,845 RESUME NATHANIEL 2023.pdf
14/02/2023  12:23           151,998 RESUME NATHANIEL.pdf
18/06/2023  21:47            59,144 Revision1.ipynb
13/06/2023  18:22        29,431,808 SalesDB2014.bak
15/07/2022  07:48         3,364,352 sample_-_superstore.xls
10/09/2022  00:05           420,011 Sample_Submission.csv
29/07/2022  13:21           468,233 Sample_Submission_(2).csv
23/08/2022  11:55         3,359,744 Sample+-+Superstore.xls
11/03/2022  14:02             9,428 sat_score.csv
04/02/2022  08:56           395,977 Session_Notebook_Advanced.ipynb
30/01/2022  12:40            30,475 Session_Notebook_Beginner.ipynb
29/01/2022  00:10            30,158 Session_Notebook_Intermediate.ipynb
03/06/2022  14:40         2,340,120 Session+Notebook+-+Machine_Failure_Prediction.ipynb
12/06/2023  16:08           260,771 SIENNA INS.pdf
10/02/2022  13:17             8,089 skeweness.png
10/02/2022  13:17             7,293 skeweness_and_boxplots.png
02/06/2022  14:19           607,746 SLC_DSBA(INN Hotels) Business Presentation.pdf
03/06/2022  13:42         1,050,199 SLF_MLS2_LifeExpectancy.ipynb
07/07/2023  23:19         5,736,786 SLF_MLS3_AnimeRatingPrediction.ipynb
13/05/2022  16:36         1,966,480 SLF_Project_LearnerNotebook_FullCode.html
30/05/2022  13:11         1,599,152 SLF_Project_LearnerNotebook_FullCode.ipynb
07/05/2023  05:41         1,465,952 SLF_W1_PracticeExercise_Question.ipynb
10/04/2022  05:44           666,407 SLF_W1_PracticeExercise_Solution.ipynb
01/05/2022  09:10           578,444 SLF_W2_AdditionalCaseStudy_LaptopPrices.ipynb
19/02/2022  02:11             4,405 Slump+Test.csv
17/06/2023  23:09           356,388 solution_notebook_foodhub_project.ipynb
31/07/2022  10:15         1,126,143 Solution+Notebook+-+ReneWind.ipynb
17/04/2023  22:44           317,065 SQL Summary.jpeg
17/04/2023  16:12         4,290,992 SQL2022-SSEI-Dev.exe
17/04/2023  21:12       659,373,600 SSMS-Setup-ENU.exe
04/08/2022  13:40            54,613 stock_data.csv
27/03/2022  04:06             4,747 students.csv
30/01/2023  12:30           131,528 supermarket_sales - Sheet1.csv
15/07/2023  05:04             5,341 support.py
14/01/2023  09:59       514,840,624 TableauPublicDesktop-64bit-2022-4-0.exe
15/06/2023  23:12       543,041,432 TableauPublicDesktop-64bit-2023-2-0.exe
03/08/2022  15:25        72,856,320 TCGA-PANCAN-HiSeq-801x20531.tar.gz
10/09/2022  00:12        11,766,256 test.csv
12/07/2022  10:45         2,493,767 Test.csv.csv
29/07/2022  13:23         5,548,894 Test_set.csv
05/05/2023  12:12         5,040,139 The Compound Effect (Darren Hardy).pdf
22/02/2022  13:14            61,194 Titanic+Data+Set.csv
23/08/2022  11:50         1,402,904 Trader Stores.xlsx
10/09/2022  00:22        30,967,867 train.csv
12/07/2022  10:45         9,974,818 Train.csv.csv
12/05/2023  16:47       102,654,535 train_sample.csv
29/07/2022  13:23        13,137,593 Train_set.csv
02/05/2023  08:04            44,302 TRAVELERS INS CARDS.pdf
02/05/2023  07:25            18,014 TRAVELERS INS.pdf
02/05/2023  07:51         1,277,743 Travelers Property Casualty Insurance Company[2516].pdf
02/05/2023  08:42       266,254,672 TrymataRecorder_windows-x64_1_1_2 (1).exe
30/03/2023  19:17       266,254,672 TrymataRecorder_windows-x64_1_1_2.exe
10/08/2022  06:47           932,259 t-SNE+Hands-on.ipynb
13/06/2023  22:20        91,758,592 tutorial.db
19/02/2022  07:40         2,075,599 uber.csv
02/07/2023  15:55         2,375,816 Uber+Case+study.ipynb
05/02/2022  08:10         2,079,208 udata.csv
22/02/2023  13:16            27,906 University Appeal Template.pdf
16/03/2023  10:54                 0 untitled
18/05/2023  10:29            25,488 Untitled.ipynb
24/06/2023  04:20                 0 untitled.txt
23/02/2022  15:57           375,419 Untitled1.ipynb
07/07/2023  10:32             5,494 Untitled2.ipynb
17/06/2022  10:48            22,027 Untitled5.ipynb
01/05/2022  06:30           358,513 used_device_data.csv
05/02/2022  08:10            23,611 user.csv
10/08/2022  09:06           538,845 USL_MLS1_EngineeringCollege.ipynb
04/08/2022  12:07         1,323,741 USL_MLS2_TourismServices.ipynb
12/08/2022  13:46         3,237,353 USL_Project_LearnerNotebook_FullCode+%282%29.html
31/03/2023  16:25         2,618,608 USL_Project_LearnerNotebook_FullCode+%282%29.ipynb
07/08/2022  05:00            35,878 USL_Project_LearnerNotebook_LowCode+%283%29.ipynb
12/08/2022  12:02           866,070 USL_W1_AdditionalCaseStudy_ProductSegmentation.ipynb
03/08/2022  15:13           827,207 USL_W2_AdditionalCaseStudy_GeneAnalysis.ipynb
10/09/2022  10:12            45,219 Voksedigital.ipynb
31/05/2023  16:41        92,718,208 VSCodeUserSetup-x64-1.78.2.exe
11/07/2023  20:05           544,806 WES REPORT (1).pdf
15/01/2023  01:59           544,806 WES REPORT.pdf
23/06/2023  12:34        62,411,302 wfp_data.csv
15/06/2023  23:23        37,388,367 wfp_data_1.xlsx
27/05/2023  06:38         4,293,739 wfp_market_food_prices.csv.zip
27/05/2023  22:04        87,194,874 wfp3.csv
12/06/2023  15:10            58,497 WhatsApp Image 2023-06-12 at 15.09.49.jpeg
18/06/2022  04:43       151,423,744 WhatsAppSetup.exe
10/04/2023  09:49         7,077,120 WHMFQK.pdf
22/02/2022  13:21           264,230 Wine_data.csv
22/08/2022  11:14         1,993,955 World_Bank_CO2.xlsx
23/01/2022  07:16           200,644 WOW Superstore.csv
27/05/2023  20:59        17,104,896 wsl_update_x64.msi
12/06/2023  15:10            33,478 Your Travelers Documents.pdf
30/03/2023  11:36             2,550 zohomail.png
27/02/2023  06:23           137,600 Zoom_cm_fr5ff4wswkZ9vvrZo4_mR-p4VlcA8gAyoO2yDJafhDQRALTfYobsPc8@bh9m9weCZynup+Ve_k8a8f455a8db7673b_.exe
             235 File(s)  7,567,978,586 bytes
               6 Dir(s)  382,048,227,328 bytes free

In [3]:
cp HR-Analytics.ipynb "/http://localhost:8888/tree/Downloads/HR_analytics_project/"

'cp' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
pwd

'C:\\Users\\Nathaniel\\Downloads\\HR_analytics_project'

In [9]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 280C-2769

 Directory of C:\Users\Nathaniel\Downloads\HR_analytics_project

17/07/2023  17:24    <DIR>          .
17/07/2023  16:52    <DIR>          ..
17/07/2023  16:56    <DIR>          .ipynb_checkpoints
17/07/2023  17:03    <DIR>          __pycache__
17/07/2023  17:24            59,570 HR-Analytics.ipynb
17/07/2023  16:56             5,178 support.py
16/07/2023  13:07               781 Untitled.ipynb
               3 File(s)         65,529 bytes
               4 Dir(s)  382,411,390,976 bytes free

In [10]:
cp HR-Analytics.ipynb "/Users/Nathaniel/PycharmProjects\HR_Recruitment_Analysis\"

SyntaxError: invalid syntax (4094667560.py, line 1)